$siderbarBgColor: #545c64;
$siderbarTextColor: #ffffff;
$siderbarActiveTextColor: #ffd04b;
$siderbarWidth: 220px;
$topbarHeight: 48px;
$mainBackgroundColor: #f5f5f5;
$topbarBackgroundColor: #ffffff;
$siderbarBackgroundColor: #424f63;
$cardBackgroundColor: #0277BD;
$cardTextColor: #fff;
// border的颜色
$borderColor: #e6ebf5;
$tableHeaderBgColor: #f5f7fa;
